.App {
  width: 100vw;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 50px;
}

.btn {
  font-size: 30px;
  margin: 10px;
  padding: 10px;
}

.inp {
  font-size: 30px;
  margin: 10px;
  padding: 10px;
}

.App-sub {
  display: flex;
  flex-direction: column;
  scale: 60%;
  margin-bottom: -5%;
}
